#swiper-container{
	width:100%;
	height:100%;
	.swiper-slide:last-child{		
		p{
			position:absolute;
			right:.7rem;
			bottom:.65rem;
			width:.7rem;
			height:.2rem;
		}
	}
	img{
		width:100%;
		height:100%;
	}
}