@font-face{//引入字体
	font-family:yofont;//字体名
	src:url("/images/iconfont/iconfont.woff") format("woff"),//路径
		url("/images/iconfont/iconfont.ttf") format("turetype");
}
@font-face{//引入字体
	font-family:yofont;//字体名
	src:url("/images/iconfont/iconfont-menu.woff") format("woff"),//路径
		url("/images/iconfont/iconfont-menu.ttf") format("turetype");
}